input {
  height: 32px;
  padding: 0 8px;
  line-height: 1;
  font-size: 14px;
  background: white;
  color: var(--ailos-black);

  border-radius: 2px;
  border: 1px solid var(--ailos-gray4);
}
