:host-context(.card-content-item) {
  display: flex;
  align-items: center;
  margin: 0 0 25px;
}

:host-context(.card-content-item):last-of-type {
  margin: 0;
}

.item-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.item-info label {
  color: #787878;
  font-size: 12px;
}

.item-info p {
  font-size: 15px;
  color: var(--ailos-black);
}
