.ailos-layout-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100px calc(100vw - 100px);
}

.content {
  background: #E7EEF1;
}

.router-wrapper {
  height: calc(100% - 89px);
}

:host /deep/ .router-wrapper > *:not(router-outlet) {
  height: 100%;
  display: flex;
  flex-direction: column;
}
